.About-title {
  position: relative;
}
.About-title:after {
  margin: 0 auto;
  position: absolute;
  content: "";
  height: 5px;
  left: 0;
  right: 0;
  top: 100%;
  width: 80px;
  background-color: white;
}
